.Resume {
	&__Skills {
		&__Item {
			span {
				line-height: 1;
			}

			&.highlight > span {
				animation: skillsItemHighlight 2s ease 2s infinite alternate;
			}
		}
	}
}

@keyframes skillsItemHighlight {
	0% {
		color: $purple;
		text-shadow: 0px 0px 5px rgba($green, 1);
	}
	50% {
		color: $black;
		text-shadow: 0px 0px 5px rgba($white, 0.5);
	}
	100% {
		color: $red;
		text-shadow: 0px 0px 5px rgba($blue, .75);
	}
}
