.text-tardis {
	color: $tardis;
}

.bg-purple {
	background-color: $purple !important;
}

@debug unquote("color");
@each $name, $color in $colors {
  .bg-#{unquote($name)} {
    background-color: $color;
  }
}