@font-face {
	font-family: 'Lazer84';
	src: url('/fonts/Lazer84.ttf');
}
.font-lazer84 {
	font-family: 'Lazer84', sans-serif;
}

@font-face {
	font-family: 'Bebas Neue Regular';
	src: url('/fonts/BebasNeue-Regular.otf');
}
$font-bebasneue: 'Bebas Neue Regular', sans-serif;
.font-bebasneue {
	font-family: $font-bebasneue;
}

