.btn {
	padding-left: 2rem;
	padding-right: 2rem;
	font-family: 'Bebas Neue Regular', 'Lato';
	line-height: 40px;
	background-size: 150% auto;
	background-position: center right; /* change the direction of the change here */
	//background-size:cover;
	&:hover {
		background-position: top left; /* change the direction of the change here */
		border-color: transparent;
	}

	transition: background-position 0.75s ease;
}

.btn-sm {
	font-size: 1.125rem;
	line-height: 1.5;
}

.btn-primary {
	border-color: transparent;
	background-color: transparent;
	background-image: linear-gradient(to left, #ba0044 0%, #790085 51%, #3900c5 100%) !important;
}